In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp39-cp39-win_amd64.whl (472 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1

In [19]:
from pymongo import MongoClient

# Thay đổi các giá trị dưới đây theo thông tin của bạn
mongo_host = 'localhost'
mongo_port = 27017
mongo_db = 'DIEMTHITHPT'

# Tạo đối tượng MongoClient
client = MongoClient(host=mongo_host, port=mongo_port)

# Chọn database
db = client[mongo_db]

# In danh sách các collection trong database
print(db.list_collection_names())

['diem_thi']

In [14]:
collection_name = 'diem_thi'
collection = db[collection_name]

In [16]:
df = pd.DataFrame(list(collection.find()))

In [17]:
df.head()

,_id,sbd,gioi_tinh,toan,ngu_van,ngoai_ngu,lich_su,dia_li,gdcd,vat_li,hoa_hoc,sinh_hoc,dia_chi,nam_sinh
0,6561678a4ac3b4e4b7ee1235,1000001.0,Nữ,3.6,5.00,4.0,2.75,6.0,8.75,NaN,NaN,NaN,NaN,NaN
1,6561678a4ac3b4e4b7ee1236,1000002.0,Nữ,8.4,6.75,7.6,8.50,7.5,8.25,NaN,NaN,NaN,NaN,NaN
2,6561678a4ac3b4e4b7ee1237,1000003.0,Nữ,5.8,7.50,5.0,7.25,5.5,8.75,NaN,NaN,NaN,NaN,NaN
3,6561678a4ac3b4e4b7ee1238,1000004.0,Nữ,7.4,7.50,8.6,7.50,6.5,7.50,NaN,NaN,NaN,NaN,NaN
4,6561678a4ac3b4e4b7ee1239,1000005.0,Nam,7.2,8.50,9.0,8.00,8.5,8.25,NaN,NaN,NaN,NaN,NaN

In [18]:
df.describe()

,sbd,toan,ngu_van,ngoai_ngu,lich_su,dia_li,gdcd,vat_li,hoa_hoc,sinh_hoc,nam_sinh
count,9.954410e+05,982726.000000,981407.000000,995443.000000,659662.000000,657421.000000,554343.000000,325523.000000,327367.000000,322198.000000,2.0
mean,2.759692e+07,6.466254,6.507746,5.157686,6.343930,6.677929,8.033266,6.723779,6.703898,5.019109,2003.0
std,1.917092e+07,1.675435,1.379602,1.823212,1.612879,1.215013,1.067272,1.441925,1.600393,1.448270,0.0
min,1.000001e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2003.0
25%,1.000217e+07,5.400000,5.580000,3.800000,5.250000,5.750000,7.500000,5.750000,5.500000,4.000000,2003.0
50%,2.801886e+07,6.800000,6.500000,5.157686,6.500000,6.750000,8.250000,7.000000,7.000000,4.750000,2003.0
75%,4.400582e+07,7.800000,7.500000,6.200000,7.500000,7.500000,8.750000,7.750000,8.000000,6.000000,2003.0
max,6.400659e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2003.0

In [35]:
df[df['gioi_tinh'] == 'Nữ']

,_id,sbd,gioi_tinh,toan,ngu_van,ngoai_ngu,lich_su,dia_li,gdcd,vat_li,hoa_hoc,sinh_hoc,dia_chi,nam_sinh
0,6561678a4ac3b4e4b7ee1235,1000001.0,Nữ,3.6,5.00,4.0,2.75,6.00,8.75,NaN,NaN,NaN,NaN,NaN
1,6561678a4ac3b4e4b7ee1236,1000002.0,Nữ,8.4,6.75,7.6,8.50,7.50,8.25,NaN,NaN,NaN,NaN,NaN
2,6561678a4ac3b4e4b7ee1237,1000003.0,Nữ,5.8,7.50,5.0,7.25,5.50,8.75,NaN,NaN,NaN,NaN,NaN
3,6561678a4ac3b4e4b7ee1238,1000004.0,Nữ,7.4,7.50,8.6,7.50,6.50,7.50,NaN,NaN,NaN,NaN,NaN
5,6561678a4ac3b4e4b7ee123a,1000006.0,Nữ,6.8,8.50,9.4,7.00,7.50,9.25,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995427,656167da4ac3b4e4b7fd4298,64006575.0,Nữ,5.8,5.25,3.4,NaN,NaN,NaN,5.00,5.00,2.0,NaN,NaN
995429,656167da4ac3b4e4b7fd429a,64006577.0,Nữ,7.2,4.25,4.6,NaN,NaN,NaN,6.25,5.25,3.5,NaN,NaN
995430,656167da4ac3b4e4b7fd429b,64006578.0,Nữ,4.4,6.00,2.6,4.50,6.50,8.25,NaN,NaN,NaN,NaN,NaN
995437,656167da4ac3b4e4b7fd42a2,64006585.0,Nữ,5.6,6.50,2.8,6.25,6.75,8.50,NaN,NaN,NaN,NaN,NaN
995438,656167da4ac3b4e4b7fd42a3,64006586.0,Nữ,5.8,6.00,6.6,7.25,8.00,8.00,NaN,NaN,NaN,NaN,NaN

In [36]:
filter_criteria = {'gioi_tinh': 'Nữ'}

# Find documents that match the filter criteria
filtered_documents = list(collection.find(filter_criteria))

# Convert the filtered MongoDB collection to a DataFrame
df_filtered = pd.DataFrame(filtered_documents)
# Display the DataFrame
print("Filtered DataFrame:")
print(df_filtered)

Filtered DataFrame:
                             _id       sbd gioi_tinh  toan  ngu_van  \
0       6561678a4ac3b4e4b7ee1235   1000001        Nữ   3.6     5.00
1       6561678a4ac3b4e4b7ee1236   1000002        Nữ   8.4     6.75
2       6561678a4ac3b4e4b7ee1237   1000003        Nữ   5.8     7.50
3       6561678a4ac3b4e4b7ee1238   1000004        Nữ   7.4     7.50
4       6561678a4ac3b4e4b7ee123a   1000006        Nữ   6.8     8.50
...                          ...       ...       ...   ...      ...
397856  656167da4ac3b4e4b7fd4298  64006575        Nữ   5.8     5.25
397857  656167da4ac3b4e4b7fd429a  64006577        Nữ   7.2     4.25
397858  656167da4ac3b4e4b7fd429b  64006578        Nữ   4.4     6.00
397859  656167da4ac3b4e4b7fd42a2  64006585        Nữ   5.6     6.50
397860  656167da4ac3b4e4b7fd42a3  64006586        Nữ   5.8     6.00

        ngoai_ngu  lich_su  dia_li  gdcd  vat_li  hoa_hoc  sinh_hoc
0             4.0     2.75    6.00  8.75     NaN      NaN       NaN
1             7.6     8.50    7.50  8.25     NaN      NaN       NaN
2             5.0     7.25    5.50  8.75     NaN      NaN       NaN
3             8.6     7.50    6.50  7.50     NaN      NaN       NaN
4             9.4     7.00    7.50  9.25     NaN      NaN       NaN
...           ...      ...     ...   ...     ...      ...       ...
397856        3.4      NaN     NaN   NaN    5.00     5.00       2.0
397857        4.6      NaN     NaN   NaN    6.25     5.25       3.5
397858        2.6     4.50    6.50  8.25     NaN      NaN       NaN
397859        2.8     6.25    6.75  8.50     NaN      NaN       NaN
397860        6.6     7.25    8.00  8.00     NaN      NaN       NaN

[397861 rows x 12 columns]